div.sidebar {
    background-color: #3f3f3f;
}

.footnote:target {
    background-color: #994;
}

table.center {
   margin-left:auto;
   margin-right:auto;
 }

.alert-warning {
    background-color: #BD873D
}
